/*
 Theme colours should be defined here, and (ideally) used only in the global variables files (bootstrap-variables, custom-variables)
 */

$theme-primary-color: #bad132!default; // mid green
$theme-secondary-color: #454441 !default; // dark green
$theme-text-color:  #454441 !default; // black
$theme-text-midtone-color: #454441 !default; // mid gray
$theme-text-lighttone-color: #454441 !default; // light gray (still passes contrast standards on white)
$theme-color-success:       #bad132 !default;
$theme-color-info:          #bad132 !default;
$theme-color-warning:       #af8227 !default;
$theme-color-danger:        #a94442 !default;
$theme-color-statetext:     #31708f !default;