/*
 * Some themes may have more variables than is listed here. Copy and paste the variables from your parent theme into here and replace the values with your own.
 */

 $theme-primary-color: #BAD132; // mid green
 $theme-secondary-color: #BAD132; // dark green
 $theme-text-color: #454441; // black
 $theme-text-midtone-color: #454441; // dark grey
 $theme-text-lighttone-color: #454441; // mid grey
 